<%- include('header') %>
<form method="GET" action="/cotacao">
  <input name="cotacao" placeholder="Cotação Dolar" value="<%=cotacao%>"/><br>
  <input name="quantidade" placeholder="Quantidade de Dolar"/><br>
  <button>Converta</button>
</form>
<%- include('footer') %>